.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info/
dist/
build/
.env
.idea/
.vscode/
*.log
uv.lock

# Node
app-js/expo/node_modules/
app-js/expo/.expo/

media/uploads/
app-js/media/uploads/
app-js/fastapi/media/uploads/